<ion-header [translucent]="true">

  <ion-toolbar color="primary">

    <ion-buttons slot="start">
      <ion-img class="full-logo-img" src="../../../assets/images/ikosten_identificador_blanco_no_slogan.png"></ion-img>

    </ion-buttons>

  </ion-toolbar>


</ion-header>
<ion-content class="ion-padding">
  <ion-list class=" ion-margin-bottom">
    <ion-list-header>
      {{'titles.modules.memberships.main' | translate}}
    </ion-list-header>
  </ion-list>
  <ion-grid class="ion-margin-top">
    <ion-row>
      <ion-col size="12" size-sm="4">
        <ion-card class="no-margin card-memberships card-recomended">
          <img  src="../../../assets/images/membership_example_banner-min.png" />
          <ion-card-header>
            <ion-card-title>{{'titles.modules.memberships.plans.senador.title' | translate}}<ion-icon class="icon-recomended" color="primary" name="diamond-outline"></ion-icon></ion-card-title>
            <ion-card-subtitle>{{'titles.modules.memberships.plans.senador.subtitle' | translate}}</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            <ul class="no-margin">
              <li><span class="bold">{{'titles.modules.memberships.plans.senador.content.1' | translate}}</span></li>
              <li>{{'titles.modules.memberships.plans.senador.content.2' | translate}}</li>
              <li>{{'titles.modules.memberships.plans.senador.content.3' | translate}}</li>
              <li>{{'titles.modules.memberships.plans.senador.content.4' | translate}}</li>

            </ul>

          </ion-card-content>
          <ion-button class="ion-margin" fill="outline" expand="block" color="primary">{{'buttons.purchase' | translate}}</ion-button>

        </ion-card>
      </ion-col>

      <ion-col size="12" size-sm="4">
        <ion-card class="no-margin card-memberships">
          <img  src="../../../assets/images/membership_example_banner-min.png" />
          <ion-card-header>
            <ion-card-title>{{'titles.modules.memberships.plans.platino.title' | translate}}</ion-card-title>
            <ion-card-subtitle>{{'titles.modules.memberships.plans.platino.subtitle' | translate}}</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            <ul class="no-margin">
              <li>{{'titles.modules.memberships.plans.platino.content.1' | translate}}</li>
              <li>{{'titles.modules.memberships.plans.platino.content.2' | translate}}</li>
              <li>{{'titles.modules.memberships.plans.platino.content.3' | translate}}</li>

            </ul>
            <div class="spacer"></div>
          </ion-card-content>
          <ion-button class="ion-margin" fill="outline" expand="block" color="primary">{{'buttons.purchase' | translate}}</ion-button>


        </ion-card>
      </ion-col>
      <ion-col size="12" size-sm="4">
        <ion-card class="no-margin card-memberships">
          <img  src="../../../assets/images/membership_example_banner-min.png" />
          <ion-card-header>
            <ion-card-title>{{'titles.modules.memberships.plans.gold.title' | translate}}</ion-card-title>
            <ion-card-subtitle>{{'titles.modules.memberships.plans.gold.subtitle' | translate}}</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            <ul class="no-margin">
              <li>{{'titles.modules.memberships.plans.gold.content.1' | translate}}</li>
              <li>{{'titles.modules.memberships.plans.gold.content.2' | translate}}</li>
              <li>{{'titles.modules.memberships.plans.gold.content.3' | translate}}</li>

            </ul>
            <div class="spacer"></div>

          </ion-card-content>
          <ion-button class="ion-margin" fill="outline" expand="block" color="primary">{{'buttons.purchase' | translate}}</ion-button>


        </ion-card>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>