
<ion-menu contentId="main-content" type="push">
  <div class="menu-image-container">
    <ion-img class="full-logo-img" src="/assets/images/Identificador[Fondo Blanco].png"></ion-img>

  </div>
  <ion-content>
    <ion-list id="inbox-list">
      @for (p of appPages; track p; let i = $index) {
        @if (p.status) {
          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" [routerLink]="[p.route]" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon aria-hidden="true" slot="start" [name]="p.icon" ></ion-icon>
              <ion-label>{{p.title | translate}}</ion-label>
            </ion-item>
          </ion-menu-toggle>  
        }

      }

      <!-- Botón Upgrade (visible solo si lead_role = 0) -->
      @if (shouldShowUpgradeButton()) {
        <ion-menu-toggle auto-hide="false">
          <ion-item button (click)="openMembershipModal()" lines="none" detail="false" class="upgrade-item">
            <ion-icon aria-hidden="true" slot="start" name="diamond"></ion-icon>
            <ion-label>{{ 'buttons.upgrade-plan' | translate }}</ion-label>
          </ion-item>
        </ion-menu-toggle>
      }
    </ion-list>

    

  </ion-content>

  <!-- Modal de Memberships -->
  <app-membership-modal
    [isOpen]="showMembershipModal"
    [uploadLimitData]="uploadLimitData"
    (dismiss)="onMembershipModalDismiss()">
  </app-membership-modal>
</ion-menu>
