<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>163099486974-6lhaunblcrn1f8o3ts8d2036fjvlpat0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.163099486974-6lhaunblcrn1f8o3ts8d2036fjvlpat0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>163099486974-3v92g120ji9gr8390qetdg6a6e30uqpj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyANL9jzgfDDdpujfXD2li_qDDNHEwXZmFY</string>
	<key>GCM_SENDER_ID</key>
	<string>163099486974</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ikosten.app</string>
	<key>PROJECT_ID</key>
	<string>ikosten-app</string>
	<key>STORAGE_BUCKET</key>
	<string>ikosten-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:163099486974:ios:f17c008fe4635c249d13af</string>
</dict>
</plist>