.btn-google{

    --background: #ffffff;
    --background-activated: #e1e1e1;
    --background-focused: #e1e1e1;
    --background-hover: #e1e1e1;
    color: #1f1f1f;
    border: 1px solid #acacac;
    border-radius: 13px;
}
.gsi-material-button-icon{
    height: 46px;
    margin-right: 12px;
    min-width: 20px;
    width: 46px;
    display: flex;
    position: absolute;
    left: 0;
}
.captcha-container{
    display: flex;
    justify-content: center;
    margin-top: 18px;
}
.col-background{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
// Estilos modernos para el login container
ion-content {
  --background: #ffffff;
}

ion-header {
  ion-toolbar {
    --background: var(--ion-color-primary);
    
    ion-img.full-logo-img {
      max-height: 40px;
      width: auto;
    }
  }
}

ion-grid {
  &.h-100 {
    height: 100%;
    min-height: 100vh;
    padding: 0;
    
    ion-row.h-100 {
      height: 100%;
      
      ion-col {
        padding: 0;
        
        &.d-flex.flex-center {
          display: flex !important;
          align-items: center;
          justify-content: center;
          
          @media (max-width: 992px) {
            padding: 0;
            min-height: 100vh;
            align-items: stretch;
          }
        }
        
        &.col-background {
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          position: relative;
          
          &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: linear-gradient(45deg, rgba(30, 150, 252, 0.8), rgba(187, 223, 249, 0.6));
            z-index: 1;
          }
        }
      }
    }
  }
}
.form-login {
  width: 100%;
  max-width: 480px;
  
  @media (max-width: 992px) {
    max-width: none;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 992px) {
    .form-login{
        width: 100%;
        border: none !important;
        
    }
}
