<div class="register-container">
  <!-- Welcome Section -->
  <div class="welcome-section">
    <div class="back-button-container">
      <ion-button 
        fill="clear" 
        (click)="goBack()" 
        class="back-button">
        <ion-icon name="arrow-back-outline" slot="start"></ion-icon>
        {{'buttons.back' | translate}}
      </ion-button>
    </div>
    <div class="welcome-content">
      <ion-img class="full-logo-img" src="../../../assets/images/ikosten_identificador_blanco_no_slogan.png"></ion-img>
      <h1 class="welcome-title">{{mainTitle | translate}}</h1>
      <p class="welcome-subtitle">Crea tu cuenta y comienza a gestionar tus gastos</p>
    </div>
  </div>

  <!-- Registration Form -->
  <div class="register-form-section">
    <div class="form-card">
      <form [formGroup]="registerForm" class="register-form">
        <div class="form-fields">
          <div class="input-group">
            <ion-item class="custom-input" [class.error]="(name.touched || name.dirty || submitted) && name.hasError('required')">
              <ion-input 
                label="{{'inputs.user-name.title' | translate}}" 
                type="text" 
                labelPlacement="floating" 
                placeholder="{{'inputs.user-name.place-holder' | translate}}"
                name="registerName" 
                formControlName="registerName">
              </ion-input>
              <ion-icon name="person-outline" slot="start" class="input-icon"></ion-icon>
            </ion-item>
            <div class="error-message" *ngIf="(name.touched || name.dirty || submitted) && name.hasError('required')">
              {{'inputs.user-name.title' | translate}} {{'errors.inputs.is-required' | translate}}
            </div>
          </div>

          <div class="input-group">
            <ion-item class="custom-input" [class.error]="(email.touched || email.dirty || submitted) && (email.hasError('required') || email.hasError('email'))">
              <ion-input 
                label="{{'inputs.email.title' | translate}}" 
                type="email" 
                labelPlacement="floating" 
                placeholder="{{'inputs.email.placeholder' | translate}}"
                name="registerEmail" 
                formControlName="registerEmail">
              </ion-input>
              <ion-icon name="mail-outline" slot="start" class="input-icon"></ion-icon>
            </ion-item>
            <div class="error-message" *ngIf="(email.touched || email.dirty || submitted) && (email.hasError('required') || email.hasError('email'))">
              {{'inputs.email.title' | translate}} {{'errors.inputs.invalid' | translate}}
            </div>
          </div>

          <div class="input-group">
            <ion-item class="custom-input" [class.error]="(countrySelect.touched || countrySelect.dirty || submitted) && countrySelect.hasError('required')">
              <ion-select 
                label="{{'global.words.country' | translate}}"
                name="registerCountry" 
                formControlName="registerCountry"
                labelPlacement="floating">
                <ion-select-option *ngFor="let country of availableCountries" [value]="country">
                  {{convertKey(country.title) | translate}}
                </ion-select-option>
              </ion-select>
              <ion-icon name="location-outline" slot="start" class="input-icon"></ion-icon>
            </ion-item>
            <div class="error-message" *ngIf="(countrySelect.touched || countrySelect.dirty || submitted) && countrySelect.hasError('required')">
              {{'global.words.country' | translate}} {{'errors.inputs.is-required' | translate}}
            </div>
          </div>

          <div class="input-group">
            <ion-item class="custom-input" [class.error]="(phone.touched || phone.dirty || submitted) && phone.hasError('required')">
              <ion-input 
                label="{{'inputs.phone-number.title' | translate}}" 
                type="tel" 
                labelPlacement="floating" 
                placeholder="{{'inputs.phone-number.placeholder' | translate}}"
                name="registerPhone" 
                formControlName="registerPhone">
              </ion-input>
              <ion-icon name="call-outline" slot="start" class="input-icon"></ion-icon>
            </ion-item>
            <div class="error-message" *ngIf="(phone.touched || phone.dirty || submitted) && phone.hasError('required')">
              {{'inputs.phone-number.title' | translate}} {{'errors.inputs.is-required' | translate}}
            </div>
          </div>

          <div class="input-group">
            <ion-item class="custom-input" [class.error]="(password.touched || password.dirty || submitted) && password.hasError('required')">
              <ion-input 
                label="{{'inputs.password.title' | translate}}" 
                type="password" 
                labelPlacement="floating" 
                placeholder="{{'inputs.password.placeholder' | translate}}"
                name="registerPass" 
                formControlName="registerPass">
                <ion-input-password-toggle slot="end" *ngIf="password.value && password.value.length > 0"></ion-input-password-toggle>
              </ion-input>
              <ion-icon name="lock-closed-outline" slot="start" class="input-icon"></ion-icon>
            </ion-item>
            <div class="error-message" *ngIf="(password.touched || password.dirty || submitted) && password.hasError('required')">
              {{'inputs.password.title' | translate}} {{'errors.inputs.is-required.f' | translate}}
            </div>
            <div class="error-message" *ngIf="(password.touched || password.dirty || submitted) && password.hasError('minlength')">
              La contraseña debe tener al menos 6 caracteres
            </div>
          </div>
        </div>

        <ion-button 
          [disabled]="isLoading" 
          expand="block" 
          (click)="onSubmit()" 
          color="primary" 
          class="register-button">
          <ion-spinner name="crescent" *ngIf="isLoading"></ion-spinner>
          <span *ngIf="!isLoading">{{'buttons.finish' | translate}}</span>
          <ion-icon *ngIf="!isLoading" name="arrow-forward-outline" slot="end"></ion-icon>
        </ion-button>

        <div class="login-section">
          <ion-button 
            expand="block" 
            routerLink="/auth/login" 
            routerDirection="back" 
            fill="clear" 
            class="login-link-button">
            {{'buttons.login-register-button' | translate}}
          </ion-button>
        </div>
      </form>
    </div>
  </div>
</div>

<ion-alert
  header="{{'alerts.general.header' | translate}}"
  subHeader="{{'alerts.general.try-again-later' | translate}}"
  [buttons]="alertButtons"
  [isOpen]="showAlertCodeError"
  (didDismiss)="showAlertCodeError=false"
  
></ion-alert>

<ion-alert
  header="{{'alerts.register.error.user-already-exist.title' | translate}}"
  subHeader="{{'alerts.register.error.user-already-exist.subtitle' | translate}}"
  [buttons]="alertButtons"
  [isOpen]="showAlertAlreadyExist"
  (didDismiss)="showAlertAlreadyExist=false"
  
></ion-alert>
