.btn-google{

    --background: #ffffff;
    --background-activated: #e1e1e1;
    --background-focused: #e1e1e1;
    --background-hover: #e1e1e1;
    color: #1f1f1f;
    border: 1px solid #acacac;
    border-radius: 13px;
}