<app-header></app-header>
<ion-content class="content-background">

  <div class="responsive_container ion-padding">
    <ion-card *ngIf="!this.userSession || this.userSession.lead_role == 0">
      <ion-card-header>
        <ion-card-title>{{'titles.modules.profile.plans.free.title' | translate}}</ion-card-title>
        <ion-card-subtitle>{{'titles.modules.profile.active-plan' | translate}} <ion-icon name="ellipse" color="success"></ion-icon></ion-card-subtitle>
      </ion-card-header>
      <!-- uncomment
            <ion-button fill="clear" color="primary" (click)="openMemberships()">{{'titles.modules.profile.upgrade-plan' | translate}} <ion-icon name="diamond-outline" slot="end"></ion-icon></ion-button>

      -->
    </ion-card>
    <ion-card *ngIf="this.userSession && this.userSession.lead_role > 0 && this.activeMebership">
      <ion-card-header>
        <ion-card-title>{{activeMebership.purchasedMembership_description | translate}}</ion-card-title>
        <ion-card-subtitle>{{'titles.modules.profile.active-plan' | translate}} <ion-icon name="ellipse" color="success"></ion-icon></ion-card-subtitle>
      </ion-card-header>
      <ion-button fill="clear" color="primary" *ngIf="this.userSession && this.userSession.lead_role < 3" (click)="openMemberships()">{{'titles.modules.profile.upgrade-plan' | translate}} <ion-icon name="diamond-outline" slot="end"></ion-icon></ion-button>

    </ion-card>
    <ion-list *ngIf="this.transactions && this.transactions.length > 0" class="ion-margin-bottom">
      <ion-list-header>
        <ion-label>{{'titles.modules.profile.history' | translate}}</ion-label>
        <ion-button color="primary" (click)="openModalTransactions()">{{'buttons.see-more' | translate}}</ion-button>
      </ion-list-header>
      <ion-item *ngFor="let transaction of transactions">
        <ion-label>
          <h2>{{transaction.transaction_date | date :'MM/dd/yyy'}}</h2>
          <p class="ion-text-capitalize" ><ion-icon name="ellipse" style="position: relative; top: 2px; margin-right: 5px;" [color]="transaction.transaction_status == 'approved' ? 'success': 'danger'"></ion-icon>{{'global.words.'+transaction.transaction_status | translate}}</p>
        </ion-label>
        <ion-label slot="end">
          {{transaction.transaction_description | translate}}
          <p>{{transaction.transaction_currency}} ${{transaction.transaction_value}}</p>
        </ion-label>
      </ion-item>
    </ion-list>
    <ion-list class="ion-margin-top">
      <ion-list-header>
        {{'titles.modules.profile.title' | translate}}
      </ion-list-header>
      <ion-item>
        <ion-input label="{{'inputs.user-name.title' | translate}}" type="text" disabled="true"  [(ngModel)]="userName" labelPlacement="floating" requried placeholder="{{'inputs.user-name.place-holder' | translate}}"></ion-input>
  
      </ion-item>
      <ion-item >
        <ion-select label="{{'inputs.user-country.title' | translate}}" [(ngModel)]="selectedCountry" id="selectedCountryInput" #selectedCountryInput="ngModel" required label-placement="floating" placeholder="{{'inputs.user-country.placeholder' | translate}}">
          <ion-select-option *ngFor="let country of availableCountries" [value]="country._id">{{convertKey(country.title) |translate}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-input label="{{'inputs.phone-number.title' | translate}}" type="phone" [(ngModel)]="userPhone" id="userPhoneInput" #userPhoneInput="ngModel" labelPlacement="floating" requried placeholder="{{'inputs.phone-number.placeholder' | translate}}"></ion-input>
  
      </ion-item>
      <ion-item>
        <ion-input label="{{'inputs.user-email.title' | translate}}" type="email" [(ngModel)]="userEmail" id="userEmailInput" #userEmailInput="ngModel" labelPlacement="floating" requried placeholder="{{'inputs.user-email.placeholder' | translate}}"></ion-input>
  
      </ion-item>
      <ion-button class="ion-margin" (click)="updateUserInfo()" [disabled]="selectedCountryInput.invalid || userPhoneInput.invalid || userEmailInput.invalid || loadingButtons" expand="block">{{'buttons.save' | translate}}</ion-button>
    </ion-list>

    <ion-list>
      <ion-button class="ion-margin" (click)="closeSession()" color="light" expand="block">{{'buttons.close-session' | translate}}</ion-button>
      
    </ion-list>
  
  </div>

  <div class="responsive_container ion-padding">
    <ion-list>
      <ion-list-header>
        {{'titles.modules.profile.danger-zone' | translate}}
      </ion-list-header>
      <ion-button class="ion-margin" (click)="deleteAccount()" fill="outline" color="danger" expand="block">{{'buttons.delete-account' | translate}}</ion-button>

    </ion-list>
  </div>

</ion-content>

<!--Alerts-->

<!--Delete Account-->

<ion-alert 
[isOpen]="showAlertDeleteAccount"
header="{{'alerts.delete-account.title' | translate}} "
subHeader="{{'alerts.delete-account.subtitle' | translate}}"
[buttons]="alertButtons"
(didDismiss)="showAlertDeleteAccount = false;"
></ion-alert>

<ion-alert 
[isOpen]="showAlertAccountDeleted"
header="{{'alerts.deleted-account.title' | translate}} "
subHeader="{{'alerts.deleted-account.subtitle' | translate}}"
[buttons]="['buttons.accept' | translate]"
(didDismiss)="dissmisAccountDeletion()"
></ion-alert>

<ion-alert
  header="{{'alerts.general.header' | translate}}"
  subHeader="{{'alerts.general.try-again-later' | translate}}"
  [buttons]="['buttons.accept' | translate]"
  [isOpen]="showAlertError"
></ion-alert>

<ion-modal [isOpen]="showModalAllTransacions" (willDismiss)="showModalAllTransacions=false;">
  <ng-template>
    <ion-header [translucent]="true">
      <ion-toolbar color="primary">
        <ion-buttons slot="start" >
          <ion-button color="light" (click)="showModalAllTransacions=false">{{'buttons.close' | translate}}</ion-button>
        </ion-buttons>

      </ion-toolbar>
    </ion-header>
    <ion-content >
      <div class="ion-padding">
        <ion-list >
          <ion-list-header>
            <ion-label>{{'titles.modules.profile.history' | translate}}</ion-label>
          </ion-list-header>
          <div *ngIf="!isTransactionsLoading">
            <ion-item *ngFor="let transaction of transactionsHistory">
              <ion-label>
                <h2>{{transaction.transaction_date | date :'MM/dd/yyy'}}</h2>
                <p class="ion-text-capitalize" ><ion-icon name="ellipse" style="position: relative; top: 2px; margin-right: 5px;" [color]="transaction.transaction_status == 'approved' ? 'success': 'danger'"></ion-icon>{{'global.words.'+transaction.transaction_status | translate}}</p>
              </ion-label>
              <ion-label slot="end">
                {{transaction.transaction_description | translate}}
                <p>{{transaction.transaction_currency}} ${{transaction.transaction_value}}</p>
              </ion-label>
            </ion-item>
          </div>
          <ion-progress-bar *ngIf="isTransactionsLoading" type="indeterminate"></ion-progress-bar>

        </ion-list>


      </div>

    </ion-content> 
  </ng-template>
</ion-modal>
