<ion-header [translucent]="true">

  <ion-toolbar color="primary">

    <ion-buttons slot="start">
          <ion-back-button text=""></ion-back-button>
        </ion-buttons>
    <ion-buttons slot="start" *ngIf="!platform.is('ios') || platform.is('ios') && this.platform.is('mobileweb')">
      <ion-img class="full-logo-img" src="../../../assets/images/ikosten_identificador_blanco_no_slogan.png"></ion-img>

    </ion-buttons>

  </ion-toolbar>


</ion-header>
<ion-content >

  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-md="8">
          <ion-list >
            <ion-list-header class="no-padding">
              <ion-label class="text-center">
              {{'titles.modules.restore-password.title' | translate}}
              <p>{{'titles.modules.restore-password.subtitle' | translate}}</p>
              </ion-label>

            </ion-list-header>
          </ion-list>
          <form [formGroup]="restoreForm">
            <ion-item [lines]="email.hasError('required')|| email.hasError('email') ? 'none' : ''">
              <ion-input label="{{'inputs.email.title' | translate}}" type="email" 
              labelPlacement="floating" placeholder="{{'inputs.email.placeholder' | translate}}"
              name="restoreEmail" formControlName="restoreEmail"
              [errorText]="email.hasError('required') || email.hasError('email') ? ('inputs.email.title' | translate)+' '+('errors.inputs.invalid' | translate) :''"></ion-input>

            </ion-item>

            <ion-grid>
              <ion-row>
                <ion-col class="ion-hide-sm-down">
                  <ion-button  expand="block" color="light" routerLink="/auth/login" routerDirection="back" class="button-controll ion-margin">
                    {{isLoading ? '' : 'buttons.back' | translate}}
                    <ion-icon name="arrow-back-outline" slot="start"></ion-icon>
                  </ion-button>
                </ion-col>
                <ion-col>
                  <ion-button  [disabled]="isLoading" expand="block" (click)="restorePass()" color="primary" class="button-controll ion-margin">
                    {{isLoading ? '' : 'buttons.restore-password' | translate}}
                    <ion-spinner name="crescent" *ngIf="isLoading"></ion-spinner>
                    <ion-icon *ngIf="!isLoading" name="arrow-forward-outline" slot="end"></ion-icon>
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-alert
  header="{{'alerts.reset-password.success.header' | translate}}"
  subHeader="{{'alerts.reset-password.success.subtitle' | translate}}"
  [buttons]="alertButtons"
  [isOpen]="showAlertSubmit"
  (didDismiss)="backToLogin()"
></ion-alert>
