.form-restore{
    width: 450px;
    display: block;
    margin: auto;
    border-radius: 40px;
    padding: 13px;

}

@media screen and (max-width: 934px) {
    .form-restore{
        width: 100%;
        
    }
}
