.check-item{
    flex: none;
}

// Footer con botón
ion-footer {
    border-top: 1px solid var(--ion-color-light-shade);
    
    .button-controll {
        margin: 0;
        height: 44px;
        font-weight: 600;
        
        ion-icon {
            font-size: 20px;
        }
    }
}
