/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";


/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
//@import "@ionic/angular/css/palettes/dark.system.css";


.d-flex{
    display: flex;
}
.d-none{
    display: none !important;
}
.d-block{
    display: block;
}
.m-auto{
    margin: auto;
}
.flex-column{
    flex-direction: column;
}
.f-right{
    float: right;
}
.flex-justify-space-between{

    justify-content: space-between;
}
.flex-end{
    justify-content: end;
}
.flex-center{
    justify-content: center;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.errorNote{
  color:#c5000f;
  margin-top: 5px;
  font-size: 0.75rem;
}
.shepherd-title{
  font-weight: bold !important;
}
.shepherd-modal-overlay-container.shepherd-modal-is-visible{
  opacity: 0.7 !important;
}
.button-card{
  margin-right: 10px;
  margin-bottom: 10px;
  float: right;
}


.button-controll{
    min-width: 150px;
}
ion-datetime{
    background: white;
}
.action-fab-button{
    min-width: 100px;
    --border-radius:13px;
    margin-bottom: 0px;

}
.btn-card{
    margin: 5px;
}
.full-logo-img{
    max-width: 180px;
    display: block;
    margin: auto;
}
.list-col p{
    margin-top: 5px;
}
.bold{
    font-weight: bold !important;
}
.color-danger{
  color:  #c5000f !important;
  --color:  #c5000f !important;

}
.line-through{
    text-decoration:line-through;
}
.no-padding{
    padding: 0px !important;
}
.no-margin{
    margin: 0px !important;
}
.no-margin-right{
    margin-right: 0px !important;
}
.takePhoto{
    width: 100%;
    height: 75px;
    padding: 10px;
    text-align: center;
    border: dashed 1px #7eb474;
    position: relative;
    cursor: pointer;
    margin: 5px 16px;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.dropzone{
    width: 100%;
    height: 75px;
    padding: 10px;
    text-align: center;
    border: dashed 1px #7eb474;
    position: relative;
    cursor: pointer;
    margin: 5px 16px;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .dropzone input{
    opacity: 0;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  .dropzone ion-thumbnail{
    --size: 100px;
    --border-radius: 14px;
    margin: 2px auto;
  
  }

  ion-toolbar{
    padding-top: 5px !important;
    padding-bottom: 5px !important;

  }
  .text-danger{
    color:var(--ion-color-danger)
  }
  .logo-header-desktop{
    display: inline;
  }
  .logo-header-mobile{
    display: none;
  }
  .responsive_container,.responsive_footer{
    max-width: 800px;
    display: block;
    margin: auto;
  }
  .responsive_container-s{
    max-width: 600px;
    display: block;
    margin: auto;
  }
  .spacer-toolbar{
    height: 45px;
  }
  .guided-tour-dialog{
    margin-top: 16px !important;
    margin-bottom: 16px !important;
    
  }
.h-100{
  height: 100%;
}
ion-list-header, ion-list-header ion-label{
  font-weight: 500 !important;
  font-size: 19px;

}
ion-card{
  border-radius: 23px;
}
ion-card-title{
  font-size: 19px;
  font-weight: 500;
  display: inline-flex;
}
ion-badge{
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
    top: 4px;
}
  @media screen and (max-width: 700px) {
    .guided-tour-dialog{
      max-width: 90% !important;
      
    }
    .logo-header-desktop{
      display: none;
    }
    .logo-header-mobile{
      display: block;
    }
    .responsive_container,.responsive_footer{
        width: 100%;
        display: block;
        margin: auto;
      }
      .responsive_container-s{
        width: 100%;
        display: block;
        margin: auto;
      }
  }

  /* ============================================
   * iOS Safe Area Configuration
   * ============================================
   * Configuración para manejar las áreas seguras en dispositivos iOS
   * (notch, Dynamic Island, cámara, altavoz, indicador home)
   */

  /* iOS Header Safe Area - Padding superior para evitar que el header quede tapado */
  .ios {
    /* El toolbar se extiende para cubrir el área del notch */
    ion-header {
      ion-toolbar {
        padding-top: env(safe-area-inset-top);
        padding-top: constant(safe-area-inset-top); /* iOS 11.0 */
        min-height: calc(56px + env(safe-area-inset-top));
        min-height: calc(56px + constant(safe-area-inset-top));
      }
    }

    /* Ajuste para headers con translucent */
    ion-header.header-translucent {
      ion-toolbar {
        padding-top: calc(env(safe-area-inset-top) + 4px);
        padding-top: calc(constant(safe-area-inset-top) + 4px);
        min-height: calc(56px + env(safe-area-inset-top) + 4px);
        min-height: calc(56px + constant(safe-area-inset-top) + 4px);
      }
    }

    /* iOS Footer/Tabs Safe Area - Padding inferior para evitar que el footer quede tapado por el indicador home */
    ion-footer {
      ion-toolbar {
        padding-bottom: env(safe-area-inset-bottom);
        padding-bottom: constant(safe-area-inset-bottom);
        min-height: calc(56px + env(safe-area-inset-bottom));
        min-height: calc(56px + constant(safe-area-inset-bottom));
      }
    }

    /* Tabs Safe Area */
    ion-tab-bar {
      padding-bottom: env(safe-area-inset-bottom);
      padding-bottom: constant(safe-area-inset-bottom);
      height: calc(56px + env(safe-area-inset-bottom));
      height: calc(56px + constant(safe-area-inset-bottom));
    }

    /* Ajuste para modals y popups */
    ion-modal {
      .ion-page {
        ion-header {
          ion-toolbar {
            padding-top: env(safe-area-inset-top);
            padding-top: constant(safe-area-inset-top);
            min-height: calc(56px + env(safe-area-inset-top));
            min-height: calc(56px + constant(safe-area-inset-top));
          }
        }

        ion-footer {
          ion-toolbar {
            padding-bottom: env(safe-area-inset-bottom);
            padding-bottom: constant(safe-area-inset-bottom);
            min-height: calc(56px + env(safe-area-inset-bottom));
            min-height: calc(56px + constant(safe-area-inset-bottom));
          }
        }
      }
    }

    /* Content Safe Area - NO aplicar padding-top porque el toolbar ya se extiende */
    ion-content {
      --padding-bottom: 0;
    }

    /* Ajuste específico para FAB buttons en iOS */
    ion-fab {
      &[vertical="bottom"] {
        bottom: calc(16px + env(safe-area-inset-bottom));
        bottom: calc(16px + constant(safe-area-inset-bottom));
      }

      &[vertical="top"] {
        top: calc(16px + env(safe-area-inset-top));
        top: calc(16px + constant(safe-area-inset-top));
      }
    }
  }

  /* Configuración adicional para dispositivos con notch/Dynamic Island */
  @supports (padding: max(0px)) {
    .ios {
      ion-header {
        ion-toolbar {
          padding-top: max(env(safe-area-inset-top), 10px);
          min-height: calc(56px + max(env(safe-area-inset-top), 10px));
        }
      }

      ion-footer {
        ion-toolbar {
          padding-bottom: max(env(safe-area-inset-bottom), 10px);
          min-height: calc(56px + max(env(safe-area-inset-bottom), 10px));
        }
      }
    }
  }
